# Track all files in 'resources' directory with Git LFS
improver_tests/acceptance/resources/* filter=lfs diff=lfs merge=lfs -text

# Exclude specific text files from Git LFS
improver_tests/acceptance/resources/LICENSE -filter=lfs -diff=lfs -merge=lfs diff
improver_tests/acceptance/resources/README.md -filter=lfs -diff=lfs -merge=lfs diff
