Aaron Hopkinson <aaron.hopkinson@metoffice.gov.uk> <arh89@users.noreply.github.com>
Anna Booton <anna.booton@metoffice.gov.uk> <anna.booton@metoffice.gov.uk>
Anja Schubert <anja.schubert@bom.gov.au> <57921950+anja-bom@users.noreply.github.com>
Belinda Trotta <73675905+btrotta-bom@users.noreply.github.com> <73675905+btrotta-bom@users.noreply.github.com>
Benjamin Ayliffe <benjamin.ayliffe@metoffice.gov.uk> <benjamin.ayliffe@metoffice.gov.uk>
Benjamin Owen <benjamin.owen@bom.gov.au> <71359048+benowen-bom@users.noreply.github.com>
Ben Fitzpatrick <ben.fitzpatrick@metoffice.gov.uk> <ben@seven.powderham>
Ben Hooper <ben.r.hooper@metoffice.gov.uk> <ben.r.hooper@metoffice.gov.uk>
Bruno P. Kinoshita <kinow@users.noreply.github.com> <kinow@users.noreply.github.com>
Caroline Jones <caroline.jones@metoffice.gov.uk> <caroline.jones@metoffice.gov.uk>
Caroline Sandford <caroline.sandford@metoffice.gov.uk> <csand@localhost.localdomain>
Caroline Sandford <caroline.sandford@metoffice.gov.uk> <35029690+cgsandford@users.noreply.github.com>
Carwyn Pelley <carwyn.pelley@metoffice.gov.uk> <carwyn.pelley@metoffice.gov.uk>
Chris Sampson <christopher.sampson@metoffice.gov.uk> <44228125+BelligerG@users.noreply.github.com>
Daniel Mentiplay <dmentipl@users.noreply.github.com> <dmentipl@users.noreply.github.com>
Eleanor Smith <40183561+ellesmith88@users.noreply.github.com> <40183561+ellesmith88@users.noreply.github.com>
Fiona Rust <fiona.rust@metoffice.gov.uk> <fiona.rust@metoffice.gov.uk>
Gavin Evans <gavin.evans@metoffice.gov.uk> <gavin.evans@metoffice.gov.uk>
James Canvin <41655739+nivnac@users.noreply.github.com> <41655739+nivnac@users.noreply.github.com>
Katharine Hurst <67630960+Kat-90@users.noreply.github.com> <67630960+Kat-90@users.noreply.github.com>
Kathryn Howard <kathryn.howard@metoffice.gov.uk> <kathryn.howard@metoffice.gov.uk>
Laurence Beard <laurence.beard@metoffice.gov.uk> <laurence.beard@metoffice.gov.uk>
Lucy Liu <lucy.liu@bom.gov.au> <jliu176@gmail.com>
Mark Baker <mark.baker@metoffice.gov.uk> <20327097+markysparks@users.noreply.github.com>
Marcus Spelman <99179165+mspelman07@users.noreply.github.com> <99179165+mspelman07@users.noreply.github.com>
Mark Worsfold <mark.worsfold@metoffice.gov.uk> <mark.worsfold@metoffice.gov.uk>
Mark Worsfold <mark.worsfold@metoffice.gov.uk> <35810969+MarkWorsfold@users.noreply.github.com>
Max White <max.white@metoffice.gov.uk> <max.white@metoffice.gov.uk>
Meabh NicGuidhir <meabh.nicguidhir@metoffice.gov.uk> <meabh.nicguidhir@metoffice.gov.uk>
Neil Crosswaite <neil.crosswaite@metoffice.gov.uk> <43375279+neilCrosswaite@users.noreply.github.com>
Paul Abernethy <paul.abernethy@metoffice.gov.uk> <paul.abernethy@metoffice.gov.uk>
Peter Jordan <peter.jordan@metoffice.gov.uk> <52462411+mo-peterjordan@users.noreply.github.com>
Phil Relton <phil.relton@metoffice.gov.uk> <phil.relton@metoffice.gov.uk>
Phoebe Lambert <phoebe.lambert@metoffice.gov.uk> <phoebe.lambert@metoffice.gov.uk>
Sam Griffiths <sam.griffiths@metoffice.gov.uk> <122271903+SamGriffithsMO@users.noreply.github.com>
Shafiat Dewan <87321907+ShafiatDewan@users.noreply.github.com> <87321907+ShafiatDewan@users.noreply.github.com>
Shubhendra Singh Chauhan <withshubh@gmail.com> <withshubh@gmail.com>
Simon Jackson <simon.jackson@metoffice.gov.uk> <simon.jackson@metoffice.gov.uk>
Tim Bonin <timothy.bonin@ll.mit.edu> <timothy.bonin@ll.mit.edu>
Timothy Hume <57921955+thbom001@users.noreply.github.com> <57921955+thbom001@users.noreply.github.com>
Tomasz Trzeciak <tomasz.trzeciak@metoffice.gov.uk> <tomasz.trzeciak@metoffice.gov.uk>
Tomasz Trzeciak <tomasz.trzeciak@metoffice.gov.uk> <TomekTrzeciak@users.noreply.github.com>
Tom Gale <tom.gale@bom.gov.au> <tom@tjtg.net>
Victoria Smart <victoria.smart@metoffice.gov.uk> <25484420+VictoriaLouiseS@users.noreply.github.com>
Tim Pillinger <tim.pillinger@metoffice.gov.uk> <tim.pillinger@metoffice.gov.uk>
Ying Zhao <91048290+yzhaobom@users.noreply.github.com> <91048290+yzhaobom@users.noreply.github.com>
Zhiliang Fan <71359633+zfan001@users.noreply.github.com> <71359633+zfan001@users.noreply.github.com>
