# Dependencies for a feature complete installation
# ------------------------------------------------

cartopy>=0.16.0
cf_units>=1.2.0
clize>=4.0.0
netCDF4>=1.3.1
pandas>=0.23.0
python-stratify>=0.1
scitools-iris>=2.2.0
sphinx>=1.7
sqlite3>=2.6.0
statsmodels>=0.9.0
