/* 
 * Hide sphinx-gallery download links from appearing at the bottom of gallery pages.
 * These links are instead shown in the secondary sidebar for better organization.
 */

.sphx-glr-download-link-note,
/* Download link note in header */
.binder-badge,
/* Binder launch badge in footer */
.lite-badge,
/* Lite launch badge in footer */
.sphx-glr-download-jupyter,
/* Download Jupyter notebook link in footer */
.sphx-glr-download-python,
/* Download Python script link in footer */
.sphx-glr-download-zip

/* Download zipped link in footer */
   {
   display: none;
}