# Use this file to create a conda environment using:
# conda env create --file envs/environment_py37_iris24.yml

name: improver_py37_iris24
channels:
  - conda-forge
dependencies:
  - python=3.7
  # Required
  - cartopy
  - cftime=1.0.1
  - cf_units
  - clize
  - dask
  - iris=2.4
  - netCDF4
  - numpy
  - python-dateutil
  - python-stratify
  - pytz=2020.5
  - scipy=1.3
  - sigtools
  - sphinx
  # Optional
  - numba
  - pysteps=1.3.2
  - statsmodels
  - timezonefinder=4.1.0
  # Development
  - astroid
  - bandit
  - black=19.10b0
  - codacy-coverage
  - filelock
  - isort=5.*
  - mock
  - myst-parser
  - pylint
  - pytest
  - pytest-cov
  - safety
