name: CI Tests

on:
  pull_request:
  push:
  workflow_dispatch:
jobs:
  Sphinx-Pytest-Coverage:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        env: [environment_a, environment_b, conda-forge]

    steps:
    - uses: actions/checkout@v4
    - uses: actions/cache@v4
      id: cache
      with:
        path: /usr/share/miniconda/envs/im${{ matrix.env }}
        key: ${{ format('{0}-conda-improver-{1}-{2}', runner.os, matrix.env, hashFiles(format('envs/{0}.yml', matrix.env))) }}

    - name: conda env update
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        source '/usr/share/miniconda/etc/profile.d/conda.sh'
        conda update -q -n base -c defaults conda
        conda install -q -n base -c conda-forge -c nodefaults mamba
        rm -f /usr/share/miniconda/pkgs/cache/*.json # workaround for mamba-org/mamba#488
        mamba env create -q --file envs/${{ matrix.env }}.yml --name im${{ matrix.env }}

    - name: conda info
      run: |
        source '/usr/share/miniconda/etc/profile.d/conda.sh'
        conda activate im${{ matrix.env }}
        conda info
        conda list

    - name: sphinx documentation
      run: |
        source '/usr/share/miniconda/etc/profile.d/conda.sh'
        conda activate im${{ matrix.env }}
        make -C doc html SPHINXOPTS="-W --keep-going"

    - name: pytest without coverage
      if: matrix.env == 'conda-forge'
      run: |
        source '/usr/share/miniconda/etc/profile.d/conda.sh'
        conda activate im${{ matrix.env }}
        pytest

    - name: pytest with coverage
      if: matrix.env != 'conda-forge'
      run: |
        source '/usr/share/miniconda/etc/profile.d/conda.sh'
        conda activate im${{ matrix.env }}
        pytest --cov=improver --cov-report xml:coverage.xml

    - name: codacy upload
      if: env.CODACY_PROJECT_TOKEN && matrix.env == 'environment_a'
      run: |
        source '/usr/share/miniconda/etc/profile.d/conda.sh'
        conda activate im${{ matrix.env }}
        python-codacy-coverage -v -r coverage.xml
      env:
        CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}

    - name: codecov upload
      uses: codecov/codecov-action@v4
      with:
        name:  ${{ matrix.env }}
      if: matrix.env != 'conda_forge'

  pre-commit-checks:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
    steps:

    - name: improver checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.7
        cache: 'pip'

    - name: pip install pre-commit
      run: |
        pip install pre-commit

    - name: Python interpreter version sha (PYSHA)
      run: echo "PYSHA=$(python -VV | sha256sum | cut -d' ' -f1)" >> $GITHUB_ENV

    - name: Cache pre-commit
      uses: actions/cache@v3
      id: pre-commit-cache
      with:
        path: ~/.cache/pre-commit
        key: pre-commit|${{ env.PYSHA }}|${{ hashFiles('.pre-commit-config.yaml') }}

    - name: pre-commit install
      run: |
        pre-commit install

    - name: pre-commit run
      run: |
        files_changed=$(git diff --name-status origin/master... | grep -E '^\s*(M|A)' | awk '{print $2}')
        echo "Checking the following files:"
        echo ${files_changed}
        pre-commit run --verbose --color=always --files ${files_changed}

  PR-standards:
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    steps:

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check CONTRIBUTING.md
        uses: cylc/release-actions/check-shortlog@v1

  Safety-Bandit:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        env: [environment_a, environment_b, conda-forge]
    steps:

    - uses: actions/checkout@v4

    - uses: actions/cache@v4
      id: cache
      with:
        path: /usr/share/miniconda/envs/im${{ matrix.env }}
        key: ${{ format('{0}-conda-improver-{1}-{2}', runner.os, matrix.env, hashFiles(format('envs/{0}.yml', matrix.env))) }}

    - name: conda env update
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        source '/usr/share/miniconda/etc/profile.d/conda.sh'
        conda update -q -n base -c defaults conda
        conda install -q -n base -c conda-forge mamba
        rm -f /usr/share/miniconda/pkgs/cache/*.json # workaround for mamba-org/mamba#488
        mamba env create -q --file envs/${{ matrix.env }}.yml --name im${{ matrix.env }}

    - name: conda info
      run: |
        source '/usr/share/miniconda/etc/profile.d/conda.sh'
        conda activate im${{ matrix.env }}
        conda info
        conda list

    - name: safety
      run: |
        source '/usr/share/miniconda/etc/profile.d/conda.sh'
        conda activate im${{ matrix.env }}
        safety check || true

    - name: bandit
      run: |
        source '/usr/share/miniconda/etc/profile.d/conda.sh'
        conda activate im${{ matrix.env }}
        bandit -r improver
