# Note that this file intentionally uses no cache, see
# https://github.com/metoppv/improver/pull/1651#issue-1108889073
name: Scheduled Tests

on:
  schedule:
    - cron: '7 4 * * *'
  workflow_dispatch:

jobs:
  Sphinx-Pytest-Coverage:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        env: [latest]

    if: github.repository_owner == 'metoppv'
    steps:

    - uses: actions/checkout@v6

    - name: Environment creation
      uses: mamba-org/setup-micromamba@v2
      with:
        environment-file: envs/${{ matrix.env }}.yml
        init-shell: bash
        cache-environment: true

    - name: Environment info
      run: |
        micromamba info
        micromamba list
      shell: bash -el {0}

    - name: sphinx documentation
      run: |
        make -C doc html SPHINXOPTS="-W --keep-going"
      shell: micromamba-shell {0}

    - name: pytest without coverage
      run: |
        pytest
      shell: micromamba-shell {0}

  Safety-Bandit:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        env: [latest]

    if: github.repository_owner == 'metoppv'
    steps:

    - uses: actions/checkout@v6

    - name: Environment creation
      uses: mamba-org/setup-micromamba@v2
      with:
        environment-file: envs/${{ matrix.env }}.yml
        init-shell: bash
        cache-environment: true

    - name: Environment info
      run: |
        micromamba info
        micromamba list
      shell: bash -el {0}

    - name: safety
      run: |
        micromamba install safety
        safety check || true
      shell: micromamba-shell {0}

  Type-checking:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        env: [latest]

    if: github.repository_owner == 'metoppv'
    steps:

    - uses: actions/checkout@v6

    - name: Environment creation
      uses: mamba-org/setup-micromamba@v2
      with:
        environment-file: envs/${{ matrix.env }}.yml
        init-shell: bash
        cache-environment: true

    - name: Environment info
      run: |
        micromamba info
        micromamba list
      shell: bash -el {0}

    - name: mypy
      run: |
        mypy improver || true
      shell: micromamba-shell {0}

  pre-commit-checks:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
    steps:

    - name: improver checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.9
        cache: 'pip'

    - name: pip install pre-commit
      run: |
        pip install pre-commit

    - name: Python interpreter version sha (PYSHA)
      run: echo "PYSHA=$(python -VV | sha256sum | cut -d' ' -f1)" >> $GITHUB_ENV

    - name: Cache pre-commit
      uses: actions/cache@v4
      id: pre-commit-cache
      with:
        path: ~/.cache/pre-commit
        key: pre-commit|${{ env.PYSHA }}|${{ hashFiles('.pre-commit-config.yaml') }}

    - name: pre-commit install
      run: |
        pre-commit install

    - name: pre-commit run
      run: |
        pre-commit run --verbose --color=always --all-files